@model IEnumerable<MIS4200Group6.Models.GiveRecognition>

@{
    ViewBag.Title = "Index";
}

<h2>Recognize an Employee</h2>

<p>
    @Html.ActionLink("Give Recognition", "Create",null,new { @class = "classname" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.values)
        </th>
        <th>
            Recognizer's 
            @Html.DisplayNameFor(model => model.Giver.email)
        </th>
        <th>
            Recognizee's
            @Html.DisplayNameFor(model => model.UserDetails.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurentDateTime)
        </th>
        <th>
            Recognition 
            @Html.DisplayNameFor(model => model.RecognitionComments)
        </th>
       
   
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.values)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giver.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetails.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionComments)
        </td>
       
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeRecognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeRecognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeRecognitionID })
        </td>
    </tr>
}

</table>
