@model MIS4200Group6.Models.Recog2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recog2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Giver.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giver.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetails.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetails.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurentDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecognitionComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecognitionComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeRecognitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
